.btn-red {
	background-color:red;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
	font-family: 'Montserrat', sans-serif;
	font-weight: lighter;
}
.btn-red:hover {
	background-color:black;
	color: white;
	transition: color 0.3s ease;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}


